* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/* header */

.nav_header {
  position: relative;
}
.nav_bg {
  background-color: white;
  padding: 0.7rem 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  height: 90px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 10px 0.5px rgba(211, 205, 205, 0.697);
}
.navbar .navbar-brand {
  color: #dc4f72;
  font-size: 26px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-nav .nav-item .nav-link {
  color: rgb(65, 64, 64);
  transition: all 0.5s;
}
.navbar-nav .nav-item:hover .nav-link {
  color: #dc4f72;
}
.navbar-nav .nav-item.active .nav-link {
  color: #dc4f72;
}
.navbar-nav .nav-item .nav-link::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #dc4f72;
  transition: all 0.7s;
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 50%;
}
.navbar-toggler {
  background-color: #dc4f72;
}
nav ul li {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
nav ul li i {
  font-size: 11px;
}

/* btn header */
.nav_btn {
  padding: 1rem 1.9rem;
  border-color: #dc4f72;
  background: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #dc4f72;
  border: 0.5px solid #dc4f72;
  transition: all 0.5s;
}
.nav_btn:hover {
  background-color: #dc4f72;
  color: white;
  border: 0.5px solid transparent;
}
/* btn header */
/* menu dropdown */
.navbar-expand-md .navbar-nav .dropdown-menu {
  transform: translateX(-45px);
}
.navbar-expand-md .navbar-nav .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  border-left: 1px solid rgba(128, 128, 128, 0.478);
  border-top: 1px solid rgba(128, 128, 128, 0.504);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  top: -8.5px;
  right: 45%;
  background-color: white;
  /* transform: translateX(45px); */
  transform: rotate(45deg);
}
/*  */
/* background hearder */
.background_header {
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../image/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  display: grid;
  padding-top: 5rem;
  align-items: center;
  overflow: hidden;
}
.row {
  padding-top: 5rem;
}
.left_content h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.left_content p {
  font-size: 1.3rem;
  color: rgb(86, 83, 83);
}
.left_content button {
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #dc4f72;
  font-weight: 700;
  background-color: transparent;
  border: 0.5px solid #dc4f72;
  transition: all 0.5s;
}
.left_content button:hover {
  background-color: #dc4f72;
  border: 1 solid transparent;
  color: white;
}
.right_contentPic {
  transform: rotate(180deg);
}
/*  */
/* section choose us */
.content_chooseUs {
  text-align: center;
}
.content_chooseUs h3 {
  font-size: 1.025rem;
  font-weight: 700;
  color: #dc4f72;
  line-height: 0.7;
}
.content_chooseUs h1 {
  font-size: 3rem;
  font-weight: 700;
}
/* card img top */
.card_row {
  display: flex;
  justify-content: center;
}
.img_card {
  width: 70px;
}
.card-title {
  font-weight: 700;
}
.card-text {
  color: rgb(114, 114, 114);
}
.card_choose {
  background-color: #f7f9fc;
  padding: 1rem 0;
  border: transparent;
  transition: all 0.5s;
}
.card.card_choose:hover{
  background-color: white;
  box-shadow: 1px 1px 15px 2px #949697;
  transform: translateY(-2px);
}
/* screen */
@media (min-width: 1450px) {
  .container {
    max-width: 1300px;
  }
}
@media only screen and (min-width: 700px) {
  .dropdown-menu {
    position: absolute;
    transform: translateY(500px);
  }
}
@media only screen and (min-width: 600px) {
  .background_header {

    height: max-content;
  }
}
/* screen */
